
<% provide(:title, 'Ton Chi') %>
<% provide(:class, 'full') %>





<div class="container container-gloss">
   <div id="columnB">
		<br>
<h2>HỘI ĐỒNG MỤC VỤ và CÁC BAN NGÀNH</h2>
<br/>   
    <%= image_tag("HDMV.png", :alt => "HDMV" , :class => "HDMV" )%>		
    	
 </div>
</div>
