<% provide(:class, 'full') %>
<% provide(:title, 'Ton Chi') %>
<h1 id = "white-title-home" class="text-center">Cac Hoi Doan</h1>
<br>
<div class="container container-gloss">
   <div id="columnB">
<h2>HỘI ĐỒNG MỤC VỤ và CÁC BAN NGÀNH</h2>
<br/>   
    <%= image_tag("HDMV.pnp", :alt => "HDMV") %>		
    	
 </div>
</div>
