
<% provide(:title, 'Ton Chi') %>
<h1 id = "white-title-home" class="text-center">Ton Chi</h1>
<br>
<div class="container">
  <blockquote>
                                    <div class="text-center" style="font-size: 1.2em; color: #333333;">
                                    <div style="text-align: center;">
                                        <span style="font-size: 22px;color: black; line-height: 120%">
                                            <b>Sứ Mạng và Tôn Chỉ của Cộng Đoàn <br>
                                                Giáo Xứ Đức Mẹ La Vang <br>
                                                Thuộc Tổng Giáo Phận Baltimore:</b>
                                        </span>
                                    </div>
                                    <div>
                                        <ul class="bullet" style="font-size: 15px;line-height: 120%">
                                            <li>Loan truyền Tin Mừng của Chúa Ki-tô.</li>
                                            <li>Nuôi dưỡng đức tin của Cộng Đoàn.</li>
                                            <li>Cổ võ tinh thần gia đình của Cộng Đoàn.</li>
                                            <li>Noi gương Chúa Ki-tô qua việc phục vụ người khác.</li>
                                        </ul>                      
                                    </div>
                                    <div style="text-align: center;">
                                        <p style="font-size: 19px;line-height: 120%">
                                            Chúng ta, Cộng Đoàn Giáo Xứ Đức Mẹ La Vang sẽ cùng nhau làm việc để thực hiện xứ mạng này qua sự tham gia hợp tác của tất cả mọi người đã chịu phép rửa tội. Chúng ta luôn luôn thực hiện tôn chỉ này với tinh thần một cộng thể hiệp nhất của Giáo Hội, trong sự hiệp thông với Đức Thánh Cha. 
                                        </p>  
                                    </div>
                                    </div>
  </blockquote>                       
</div>
