@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

.footer {
  background: #1B4B8E;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  .container {
    width: 100%;
    background: #1B4B8E;
    border-radius: 0px;
  }
  .text-muted {
    color: #FFFFFF;
    margin: 20px 0;
    padding-left: 25px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0  0 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

ul {
  list-style-type: none;
}

.map_margin {
  margin-bottom: 30px;
}

#links_from_home {
  border: 1px solid lightgrey;
  margin: 5px 15px 100px 15px;
  padding: 0px;
}

/* Index Page */

#white-title-home{
	color: #fff;
}

.full {
  background: image-url('church.jpg') no-repeat center center fixed;
  // background: image-url('city.jpeg') no-repeat scroll center top transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 // background-size: 100%;
  background-size: cover;
}

.full2 {
  //background: image-url('church2.jpg')  center center ;
   background: image-url('church2.jpeg') no-repeat scroll center top transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 // background-size: 100%;
  background-size: cover;
}

.wordsOnPic  {
  background-image: image-url('church2.jpg')  center center ;
  // background: image-url('city.jpeg') no-repeat scroll center top transparent;

}
.style_image {
  border-right:  2px solid #000;
  border-left:   2px solid #000;
  border-top:    2px solid #000;
  border-bottom: 2px solid #000;
}

// Navbar



.navbar-brand > img {
	height: 100%;
	width: auto;
}

// .navbar-default li {
//   -webkit-transition: background 0.3s;
//   transition: background 0.3s;
//   &:hover {
//     background: lightgrey;
//   }
// }

.dropdown-menu > li {
  text-align: center;
}

// Dynamic form menu

.centered-pills {
  text-align: center;
}
.centered-pills ul.nav-pills {
  display: inline-block;
}
// Center tabs
.centered-pills ul.nav-tabs {
  display: inline-block;
}
.centered-pills li {
  display: inline;
}
.centered-pills a {
  float: left;
}

// Table Results

.table-hover {
  border-left: 2px solid lightgrey;
}

// Horizontal Rule

.hr-half {
  width: 50%;
}

// GitHub icon

.fa-github {
  padding-right: 25px;
}
 #map-container { height: 350px; border-radius: 16px 16px; border-color: #fff; border-style: solid; box-shadow: 2px 2px 10px #B1B1B1; border-width: 7px; }

#map-canvas {
  height: 330px;
  width: 100%;
}

 /* Bootstrap Css Map Fix*/
#map-container #map-canvas img { 
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label { 
  width: auto; display:inline; 
}

#homeheader {
  color: #FFFFFF;
  
  text-align: center;
  
  position: relative;
  margin: 0 0 0 0;
  background-color: rgba(153, 145, 145, 0.50);
   padding: 10px;
  
}
ul#homeheader li{
  
  display: inline;
  margin: 20px 10px;
  font-weight: bold;

  color:#FFFFFF;
  text-align: center;
  font-size: 23px;

}
ul#homeheader a{
  color: #FFFFFF;
}
ul#homeheader a:hover{
  color: #FFD105;
  text-decoration: none;
}

// header for main page
#homeheader2 {
  color: #FFFFFF;
  
  text-align: center;
  width: 100%;
  position: absolute;
  top: 80px;
  margin: 0 0 0 0;
  background-color: rgba(153, 145, 145, 0.50);
    padding: 10px;
  
}
ul#homeheader2 li{

  
  display: inline;
  margin: 20px 10px;
  font-weight: bold;

  color:#FFFFFF;
  text-align: center;
  font-size: 23px;
}
ul#homeheader2 a{
  color: #FFFFFF;
}
ul#homeheader2 a:hover{
  color: #FFD105;
  text-decoration: none;
}

#logo {
  background-color: #1B4B8E ;
  height: 80px;

}

#church2{
  
  
  position: relative;

  z-index: -111;
  /* Set rules to fill background */
  min-height: 50%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 500px;
	
  /* Set up positioning */

  top: 0;
  left: 0;

}
#ngayle{
  margin: 50px;

  position:  static  ; 

  left:0;

  
  
}
#statement{
  position: absolute;
  color: white;
  top: 500px;
  text-align: center;
}
#fixedbar {
  position: fixed;
  float: right;
  right : 50px;
  bottom: 50px;
  z-index: 9999;
  border: 1px;

 
}

// CSS for Hinh Anh page. The code borrow from Dynamic Drive at the website: http://www.dynamicdrive.com/style/csslibrary/item/css-image-gallery/


.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/

height:1000px;

}
.gallerycontainer a {
  width: 150px;
  height: 120px;
  float: left;
    background-color: transparent;
    border: none;
}

.thumbnail img{
 

border: none;

}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{

}

.thumbnail span{ /*CSS for enlarged image*/


visibility: hidden;

}

.thumbnail span img{ /*CSS for enlarged image*/
  position: absolute;
  right: 250px;
top: 150px;
border-width: 0;
padding: 2px;
height: 550px;
width: 750px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top: 0;
left: 230px; /*position where enlarged image should offset horizontally */
z-index: 50;


}
#icon{
  height: 100px;
  width: 125px;
}


