<footer class="footer" style="background: transparent;">
  <div class="container">
    <p class="text-muted">
    <p ><h4 style="color:rgb(249, 185, 9)"><strong>LIÊN LẠC:</strong></h4></p>
         <ul>
                        <li>335 Sollers Point Road</li>
                        <li>Dundalk, Maryland 21222</li>
                        <li>Điện thoại: 410-282-1496 / 410-282-1497</li>
                        <li>Hướng dẫn tới nhà thờ: <a class="" title="" href="docs/DirectionToChurch.pdf" target=_blank><b>Bấm vào đây để xem bản chỉ đường</b></a>, 
                         <a class="" title="" href="https://maps.google.com/maps?q=335+Sollers+Point+Road,+Dundalk,+MD&ie=UTF-8&ei=Pd3wUtTOEIOsyAH_m4Ew&ved=0CAcQ_AUoAQ" target=_blank><b>hoặc xem bản đồ từ Google map</b></a></li>



                    </ul>
     
    </p>
  </div>

</footer>
