<div id ="custom-navbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">


    <div class="collapse navbar-collapse navbar-menubuilder">
      
     
       <%= image_tag("logo1.png", :alt => "rss feed") %>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to root_path do %><i class="fa fa-home"></i> Trang Đầu<% end %></li>
        <li><%= link_to tonchi_path do %><i class="fa fa-book"></i> Tôn Chỉ<% end %></li>
        <li><%= link_to cachoidoan_path do %><i class="fa fa-group"></i> Cac Hoi Doan<% end %></li>
        
      </ul>

      

    </div>
  </div>
  
</div>
